@import  '../main.less';


.dashboardDiv{
    display: flex;
    height: 100%;
    flex-direction: column;
}
.cardView{
    background-color: #F7F7F7;
    padding: 1em;
  display: flex;
  flex-direction: row;

}
.addButton{
    display: flex;
   justify-Content: flex-end;
    flex-Direction: column;
    right: 0;
    bottom: 0;
    position: fixed
}

